html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Alice', serif;
    font-size: 50px;
    color: white;
    text-shadow: 3px 3px black;
    background-color: black;
}

a {
    color: #7bc5d1;
}

a:hover {
    color: #75b0ba;
    cursor: pointer;
    text-decoration: none;
}

a:focus {
    color: #7bc5d1;
    text-decoration: none;
}

.title-container {
    background: url(../img/title.jpg) #7bc5d1;
    background-size: cover;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    top: 0px;
    bottom: 0px;
}

.content {
    display: block;
    text-align: center;
}

#ragrats {
    opacity: 0;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
}

#tweet-container {
    width: 70%;
    font-size: 1.8em;
    top: 100%;
    position: absolute;
}

#author {
    text-align: right;
}

/*Scroll Up*/
.scroll-up {
    -webkit-animation: scrollup 30s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: scrollup 30s; /* Firefox < 16 */
        -ms-animation: scrollup 30s; /* Internet Explorer */
         -o-animation: scrollup 30s; /* Opera < 12.1 */
            animation: scrollup 30s;
    animation-fill-mode: forwards;
}
@keyframes scrollup {
    from { top: 100%; }
    to   { top: -200%; }
}
@-moz-keyframes scrollup {
    from { top: 100%; }
    to   { top: -200%; }
}
@-webkit-keyframes scrollup {
    from { top: 100%; }
    to   { top: -200%; }
}
@-ms-keyframes scrollup {
    from { top: 100%; }
    to   { top: -200%; }
}
@-o-keyframes scrollup {
    from { top: 100%; }
    to   { top: -200%; }
}

.fullscreen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 10;
}

.fullscreen-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

/*Fade In*/
.fade-in {
    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 4s; /* Firefox < 16 */
    -ms-animation: fadein 4s; /* Internet Explorer */
    -o-animation: fadein 4s; /* Opera < 12.1 */
    animation: fadein 4s;
    animation-fill-mode: forwards;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*Fade Out*/
.fade-out {
    -webkit-animation: fadeout 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadeout 4s; /* Firefox < 16 */
        -ms-animation: fadeout 4s; /* Internet Explorer */
         -o-animation: fadeout 4s; /* Opera < 12.1 */
            animation: fadeout 4s;
    animation-fill-mode: forwards;
}
@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}
@-moz-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}
@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}
@-ms-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}
@-o-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

.title {
    font-family: 'Allura', cursive;
    font-size: 220px;
    text-shadow: 3px 3px black;
    -ms-transform: rotate(-30deg); /* IE 9 */
    -webkit-transform: rotate(-30deg); /* Chrome, Safari, Opera */
    transform: rotate(-25deg);
    position: fixed;
    top: 2%;
    left: 10%;
}

.title-author {
    position: fixed;
    bottom: 2%;
}

#donate {
    opacity: 0;
    position: absolute;
    width: 70%;
    text-align: center;
}

#reset {
    opacity: 0;
}


#audio {
    display: none;
}

/* xs */

@media(max-width:767px) {
    #dropzone {
        font-size: 100px;
    }
}


/* s */

@media(min-width:768px) {
    #dropzone {
        font-size: 150px;
    }
}


/* m */

@media(min-width:992px) {
    #dropzone {
        font-size: 200px;
    }
}


/* lg */

@media(min-width:1200px) {
    #dropzone {
        font-size: 260px;
    }
}
