link-blue = #7bc5d1
scroll-time = 15s

@keyframes fadein
  from
    opacity 0
  to
    opacity 1

@keyframes fadeout
  from
    opacity 1
  to
    opacity 0

@keyframes scrollup
  from
    transform translateY(0%)
  to
    transform translateY(-100%)

html, body
  height 100%
  width 100%
  margin 0
  padding 0
  font-family 'Alice', serif
  color white
  text-shadow 3px 3px black
  background-color black

a
  color link-blue

a:hover
  color #75b0ba
  cursor pointer
  text-decoration none

a:focus
  color link-blue
  text-decoration none

#app
  width 100%
  height 100%

.title-container
  background url(../img/title.jpg) link-blue
  background-size cover

.container
  height 100%
  width 100%
  display flex
  align-items center
  justify-content center
  top 0px
  bottom 0px

.content
  display block
  text-align center

.ragrats
  opacity 0
  display flex
  align-items center
  justify-content center

.tweet
  overflow hidden
  position fixed
  top 0
  left 0
  right 0
  bottom 0

.tweet__container
  width 100%
  height 100%
  position relative
  transform translateY(-100%)
  animation scrollup scroll-time linear

.tweet__body
  position absolute
  top 100%
  transform translateY(-100%)
  animation scrollup scroll-time linear
  font-size 90px
  padding 0 15%

  @media (max-width: 980px)
    font-size 60px
    padding 0 10%

  @media (max-width: 767px)
    font-size 30px
    padding 0 20px


.tweet__author
  text-align right

.fullscreen
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  overflow hidden
  z-index 10

.fullscreen-video
  position absolute
  top 0
  left 0
  min-width 100%
  min-height 100%
  z-index -1

.fade-enter, .fade-appear
  animation fadein 4s
  animation-fill-mode forwards

.fade-leave
  animation fadeout 4s
  animation-fill-mode forwards

.title
  font-family 'Allura', cursive
  font-size 220px
  text-shadow 3px 3px black
  transform rotate(-25deg)
  position fixed
  top 2%
  left 10%

  @media (max-width: 980px)
    font-size 180px
    right 10%

  @media (max-width: 767px)
    font-size 110px

.title-author
  position fixed
  bottom 2%
  right 0
  font-size 50px
  padding 0 10px
  width 50%

  @media (max-width: 980px)
    width 100%
    font-size 80px

  @media (max-width: 767px)
    font-size 30px

.donate
  font-size 25px
  position fixed
  width 100%
  top 100%
  left 0
  z-index 100
  padding 20px 0 10px
  text-align center
  transform translateY(-100%)
  background linear-gradient(to top, rgba(0,0,0,0.85) 0%, rgba(0,0,0,0) 100%)
  animation scrollup 300ms ease-out

  @media (max-width: 767px)
    font-size 16px
    padding-left 10px
    padding-right 10px

.tr__credit
    padding-right: 5px
    font-size: 1em
    text-align: right

    @media (max-width: 767px)
      top 0
      animation: none

.controls
  position fixed
  bottom 13px
  left 13px
  border 1px solid white
  border-radius 3px
  z-index 10

.controls__button
  border 0px none transparent
  border-left 1px solid white
  margin-left -1px
  background-color transparent
  font-family sans-serif
  font-size 10px
  display block
  float left
  padding 3px 10px

.audio
  display none
